@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sales</a>
        <div class="dropdown-menu">
            @Html.ActionLink("Sales Home", "Index", "Sales", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            @Html.ActionLink("Makes", "Makes", "Sales", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            @Html.ActionLink("Models", "Models", "Sales", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
            @Html.ActionLink("Admin Home", "ReportsIndex", "Reports", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            @Html.ActionLink("Specials", "Specials", "Admin", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            @Html.ActionLink("Users", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
            @Html.ActionLink("Vehicles", "Inventory", "Inventory", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
        </div>
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>
        </ul>
    }


}
@*else
    {

            <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

    }*@
